body {
    background: #f5f7fb;
    color: #171a23;
}



/*  
   MAIN LAYOUT
  */

/*  
   MAIN CONTENT
  */

.main-content {
    flex: 1;
    height: 100vh;
    padding: 30px;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 32px;
    margin-bottom: 25px;
}


/*  
   CONTENT CARD
  */
.content-card {
    background: white;
    border-radius: 10px;
    padding: 78px 16px 85px;
    box-shadow:
        0 3px 15px rgba(0,0,0,0.05);
}



/*  
   TABLE
  */
.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: #f7f9fc;
}

th {
    text-align: left;
    padding: 16px 25px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #d1d5db;
}

td {
    padding: 12px 25px;
    font-size: 18px;
    border-bottom: 1px solid #d1d5db;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr:hover {
    background: #fafbfc;
}



/*  
   STOCK
  */
.stock-value {
    font-weight: 500;
}

.stock-value.critical {
    color: #b4232d;
}

.stock-value.low {
    color: #a56816;
}

/*  
   STATUS
  */
.status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 16px;
}

.status.critical {
    background: #f9dada;
    color: #7e2028;
}

.status.low {
    background: #fceacb;
    color: #805415;
}

.status.out {
    background: #f9dada;
    color: #7e2028;
}



/*  
   ACTION BUTTON
  */
.action-btn {
    width: 44px;
    height: 42px;
    border: none;
    border-radius: 8px;
    background: #f0f1f5;
    font-size: 22px;
    cursor: pointer;
}

.action-btn:hover {
    background: #e2e5eb;
}


/*  
   NO PRODUCTS
  */

.no-products {
    display: none;
    text-align: center;
    padding: 40px;
    color: #666;
    font-size: 18px;
}

/*  
   RESPONSIVE
  */

@media (max-width: 900px) {
    .sidebar {
        width: 210px;

    }


    .main-content {
        padding: 20px;
    }

    th,
    td {
        padding: 12px 15px;
    }
}

@media (max-width: 650px) {
    body {
        overflow: auto;
    }


    .dashboard {
        height: auto;
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        height: auto;
    }

    .content-card {
        padding: 25px 10px;
    }
}